In [ ]:
import pandas as pd 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report

In [2]:
df = sns.load_dataset('titanic')

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [6]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
df.isna().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
sex              0
pclass           0
survived         0
fare             0
parch            0
sibsp            0
class            0
adult_male       0
who              0
alive            0
alone            0
dtype: int64

In [9]:
df = df.dropna()

In [11]:
df.isna().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [8]:
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

C:\Users\AGP KOHAT\AppData\Local\Temp\ipykernel_5920\1964997694.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

In [14]:
df['deck'].fillna(df['deck'].mode()[0], inplace=True)

In [13]:
df['embark_town'].fillna(df['embark_town'].mode()[0], inplace=True)

C:\Users\AGP KOHAT\AppData\Local\Temp\ipykernel_5920\395761809.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embark_town'].fillna(df['embark_town'].mode()[0], inplace=True)

In [15]:
df.isna().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [26]:
X = df.drop('survived', axis=1)
y = df['survived']

X = pd.get_dummies(X, drop_first=True)

In [27]:
X

     pclass   age  ...  embark_town_Southampton  alive_yes
0       3.0  22.0  ...                     True      False
1       1.0  38.0  ...                    False       True
2       3.0  26.0  ...                     True       True
3       1.0  35.0  ...                     True       True
4       3.0  35.0  ...                     True      False
..      ...   ...  ...                      ...        ...
886     2.0  27.0  ...                     True      False
887     1.0  19.0  ...                     True       True
888     3.0  27.8  ...                     True      False
889     1.0  26.0  ...                    False       True
890     3.0  32.0  ...                    False      False

[891 rows x 23 columns]

In [28]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [29]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [30]:
X_test

     pclass   age  ...  embark_town_Southampton  alive_yes
709     3.0  29.2  ...                    False       True
439     2.0  31.0  ...                     True      False
840     3.0  20.0  ...                     True      False
720     2.0   6.0  ...                     True       True
39      3.0  14.0  ...                    False       True
..      ...   ...  ...                      ...        ...
433     3.0  17.0  ...                     True      False
773     3.0  31.1  ...                    False      False
25      3.0  38.0  ...                     True       True
84      2.0  17.0  ...                     True       True
10      3.0   4.0  ...                     True       True

[179 rows x 23 columns]

In [32]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
# print(classification_report(y_test, y_pred))

Accuracy: 1.0

In [35]:
import numpy as np


new_passenger = pd.DataFrame({
    'pclass': [3],
    'age': [22],
    'sibsp': [1],
    'parch': [0],
    'fare': [7.25],

    'sex_male': [1],      
    'who_man': [1],
    'alone_True': [0],
    'embarked_Q': [0],
    'embarked_S': [1]

})


for col in X_train.columns:
    if col not in new_passenger.columns:
        new_passenger[col] = 0

new_passenger = new_passenger[X_train.columns]

# Predict
prediction = model.predict(new_passenger)
print("Survived" if prediction[0] == 1 else "Did not survive")

Did not survive